<div class="content-home">

    <h1 class="title1">PokeZone</h1>

    <div class="contentOptions">
    
        <a routerLink="/pokedex">
            
            <img class="pokedex" src="../../../assets/img/pokedex.png" alt="pokedex">

            <h2>Pokedex</h2>

        </a>

        <a routerLink="/battle">
            
            <img class="pokeball" src="../../../assets/img/battle.png" alt="pokedex">

            <h2>Battle</h2>

        </a>

    </div>

    <footer class="footer">

        <p>Pokemon &copy; 2021</p>

    </footer>
    
</div>
