<div class="sectionPokemon">

    <div class="content-nav">

        <h1 class="title2">Pokedex</h1>

        <a routerLink="/pokedex">Back to Pokedex</a>

    </div>

    
    <div class="content-pokemon">
        
        <div class="dataPk">
        
            <div class="content-data">

                <p>Type: <span>{{pokemon.type}}</span></p>
                <p>Height: <span>{{pokemon.height}} feet</span></p>
                <p>Weight: <span>{{pokemon.weight}} pounds</span></p>
                <p>XP Points: <span>{{pokemon.experience}}</span></p>
                <p>Move: <span>{{pokemon.moveOne}}</span></p>
                
            </div>    
            
            <img src="{{pokemon.pkimg}}" alt="pokemon.name"> 

        </div>

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto libero porro iure optio sapiente aperiam? Nesciunt at dolor repellat! Nesciunt, architecto. Id numquam corrupti repellendus assumenda, neque sit cupiditate saepe?</p>

    </div>

    <footer class="footer">

        <p>Pokemon &copy; 2021</p>

    </footer>


</div>
